{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid contact_us_bg_img">
    <div class="container">
        <div class="row">
            <a href="#" id="Heading">
                <h1> <b>Campus Engagement</b> </h1>
            </a>
        </div>

        <div class="container-fluid pb-4 pt-5">
            <div class="container animate-box">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">

                    </div>
                </div>
                <div class="owl-carousel owl-theme" style="align-items: center" id="slider2">
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/campus/0000.jpg" alt="" /></div>

                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/campus/1.jpg" alt="" /></div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/campus/88888.jpg" alt="" /></div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="images/campus/999.jpg" alt="" /></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="paraFont">
            <p>Right from the beginning, students from different colleges came and volunteer in PMI to help us serve the
                community in different ways. One of the areas is CHEP where university students and students who are
                preparing for a civil service
                exam helped us in teaching the students through a free tuition program. Volunteers are the backbone to
                PMI and we strongly believed that by working with the student's education system can be made to
                penetrate at the grass-root level
                of our Society.</p>
            <br>
            <p>At the same time, PMI aims to educate and bring awareness to college students with the real-time issues
                and challenges faced by the weaker/vulnerable section of society. We provide them a chance to explore
                different slums located in different
                places of North Delhi to conduct a real-time study and witnessed the real struggle because sometimes
                evidence base information is better than just having theoretical knowledge. We also wanted to train the
                students to value and respect
                humanity and inculcate the importance and the need to serve humanity wherever and whenever required. We
                provide them internships and certificate which will help them to build their carrier and will serve as
                additional credit in their
                resume.
            </p>
            <br>
            <p style="font-weight: bolder; ">
            <h3> Different ways on how PMI involved in the campus:-</h3>
            </p> <br>
            <p>
            <h4><b> Admission:-</b></h4>Every year more than thousands of students come from different states to Delhi
            for taking admission to different programs. PMI opens stalls in various colleges like Miranda House, Amity
            University, Satyavati, etc.
            and helped freshers with their admissions. PMI also organize Fresher’s Day and at the same time building
            relationship with the students to make sure that they are not alone and opened up to be a home for them. You
            can check on areas
            where PMI works in partnership with NSS (National Service Scheme) of different colleges both inside and
            outside Delhi to serve humanity.
            </p>
            <br>
            <p>
            <h4><b> Hans Raj College:-</b></h4>
            We collaborate with the Hari Adma Society and organized for greenery program where we shared on the need to
            promote Green Environment.
            </p>
            <br>
            <p>
            <h4><b> Hindu College: -</b></h4>With the NSS team we were able to conduct a year program of collecting
            clothes and redistributing them to slums.</p>

            <br>
            <p>
            <h4><b>Ramjas College:-</b></h4>We were invited for a green program,” Bringing Awareness on the Importance
            of Tree Plantation” where we shared on The Importance of Planting Trees. PMI band even performed in their
            college festivals.</p>

            <br>
            <p>
            <h4><b>KiroriMal College: -</b></h4>Two medical camps were organized in collaboration with the college NSS
            for all the construction workers and laborers who were building a stadium for hosting Common Wealth Games.
            PMI band performed in their
            college functions as well.</p>

            <br>
            <p>
            <h4><b>Delhi School of economics: -</b></h4>Department of Geography program Geo Research Forum invited our
            founding President to be one of the main speakers where he was able to share on the topic of “Health and
            Well Being.”</p>
            <br>
            <p>
            <h4><b> Shri Ram College of Commerce: -</b></h4>Woman education program in Nandlal slum was conducted in
            collaboration with the NSS team. We were able to reach out to a lot of women who were given free education
            classes by students from SRCC.</p>
            <br>
            <p>
            <h4><b>Satyavati: -</b></h4>Our founding President was invited to speak on Women Rights in their college
            program. PMI CHEP kids were also invited for campus tours and were allowed to interact with students on the
            campus. Several NSS students
            from Satyavati college volunteer with us and helped in different areas of work for the betterment of
            society. </p>

            <br>
            <p>
            <h4><b> Miranda House: -</b></h4> PMI band used to lead during their college festival.</p>
            <br>
            <p>
            <h4><b> DaulatRam College: -</b></h4>We were asked to lead the college festival Marathon with our PMI
            volunteer. We were also given a chance to share about our NGO (PMI). PMI band also performed.</p>
            <br>
            <p>
            <h4><b> Amity University:</b></h4>We were invited to put up a PMI stall in their college program and they
            also provided us a certificate of participation in the National Level Seminar organized by the University.
            </p>
            <br>
            <p>
            <h4><b>Apex Universities (Uttarakhand):</b></h4>We were invited to share about our NGO (PMI) where the PMI
            band was also able to perform.</p>
            <br>

        </div>
        <br>
        <br>
        <br>


    </div>

</div>

<div class="container-fluid fh5co_fh5co_bg_contcat ">
    <div class="container ">
        <div class="row py-4 ">
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-phone "></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Call Us</span>
                        <span class="d-block c_g fh5co_contact_us_no_text ">9717711502 , 9818181502</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-envelope "></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Have any query?</span>
                        <span class="d-block c_g fh5co_contact_us_no_text "> pmiteam@gmail.com, info@pmingo.org</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="col-md-4 py-3 ">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover ">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1 ">
                        <div class="fh5co_contact_us_no_icon_div "> <span><i class="fa fa-map-marker "></i></span>
                        </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2 ">
                        <span class="c_g d-block ">Address</span>
                        <span class="d-block c_g fh5co_contact_us_no_text ">A68, 1st Floor Derawal Nagar, above IDBI
                            near Pentamed Hospital, Delhi 110009</span>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
            <div class="clearfix "></div>
        </div>
    </div>
</div>

{% endblock content%}