{% load static %}


<div class="container-fluid fh5co_header_bg">
    <div class="container">
        <div class="row">
            <div class="col-12 fh5co_mediya_center" style="text-align:left"><a href="#"
                    class="color_fff fh5co_mediya_setting"><i
                        class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;{{now|date:"D d M Y" }}&nbsp&nbsp&nbsp&nbsp</a>
                <div class="d-inline-block fh5co_trading_posotion_relative"><a href="#"
                        class="treding_btn">&nbsp;Passion Movement International&nbsp;</a>
                    <div class="fh5co_treding_position_absolute"></div>
                </div>
                <a href="#" class="color_fff fh5co_mediya_setting">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SERVING to bring HOPE
                    to Humanity with LOVE and the TRUTH</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="Header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 fh5co_padding_menu">
                <img src="{% static 'images/logo.png' %}" alt="img" class="avatar" />
            </div>

            <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                <div class="text-center d-inline-block">
                    <a href="https://www.instagram.com/pmingodelhi/" target="_blank" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-instagram"></i></div>
                    </a>
                </div>
                <div class="text-center d-inline-block">
                    <a href="https://www.facebook.com/permalink.php?story_fbid=4273527952673026&id=131958810163315"
                        target="_blank" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                    </a>
                </div>
                <!-- {% if request.user.is_authenticated %}
                <div class="text-center d-inline-block">
                    <a href="/accounts/logout" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle" id="logout"><i class="fa fa-sign-out"></i></div>
                    </a>
                </div>

                {%else%}
                <div class="text-center d-inline-block">
                    <a href="/accounts/login" class="fh5co_display_table">
                        <div class="fh5co_verticle_middle" id="login"><i class="fa fa-sign-in"></i></div>
                    </a>
                </div>
                {%endif%} -->
                <p style="text-align: left; "><b>
                        <h1 style="text-align: left;">
                            Passion Movement International</h1>
                    </b></p>
                <div class="d-inline-block text-center dd_position_relative ">

                    <a href="Donation.html"><input type="submit" value="Donate" class="submit" id="reset"
                            name="reset" /></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-faded fh5co_padd_mediya padding_786">
    <div class="container padding_786">
        <nav class="navbar navbar-toggleable-md navbar-light ">
            <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" alt="img"
                    class="mobile_logo_width" /></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> About </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li> <a class="dropdown-item" href="/mission-statement">Mission Statement </a></li>
                            <li> <a class="dropdown-item" href="/about-us">A Family to connect with</a></li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="/team">PMI
                                    Team</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/team">Prabin Singh</a></li>
                                    <li><a class="dropdown-item" href="team.html#PRAISE">Praise</a></li>
                                    <li><a class="dropdown-item" href="team.html#Harendra">Harendra</a></li>
                                    <li><a class="dropdown-item" href="team.html#Dr Peter Malakar">Dr.Peter Malakar</a>
                                    </li>
                                    <li><a class="dropdown-item" href="team.html#Amit">Amit</a></li>
                                </ul>
                            <li><a class="dropdown-item" href="/financial-transparency">Financial Transparency</a>
                            </li>
                            <li> <a class="dropdown-item" href="/faqs">FAQs</a></li>


                    </li>
                </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">What we do</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">CHEP</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Nandlal
                                        Community</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/nandlal-community#Health Checkup">Health
                                                Checkup</a> </li>
                                        <li><a class="dropdown-item" href="/nandlal-community#Pathshala">Pathshala</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/nandlal-community#Bal Shiksha Program">Bal
                                                Shiksha
                                                Program</a></li>
                                        <li><a class="dropdown-item" href="/nandlal-community#Vitamin Project">Vitamin
                                                Project</a></li>
                                        <li><a class="dropdown-item" href="/nandlal-community#Back to school">Back
                                                to school</a> </li>
                                        <li><a class="dropdown-item" href="/nandlal-community#Summer Program">Summer
                                                Program</a></li>
                                        <li><a class="dropdown-item" href="/nandlal-community#Kids Camp">Kids
                                                Camp</a></li>
                                        <li><a class="dropdown-item" href="/nandlal-community#Career Counseling">Career
                                                Counseling</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="/nandlal-community#Parent's Education">Parent's Education</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/nandlal-community#Vision Project">Vision
                                                Project</a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Badabagh
                                        Community</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/badabagh-community#Health Checkup">Health
                                                Checkup</a></li>
                                        <li><a class="dropdown-item" href="/badabagh-community#Back to school">Back
                                                to school</a></li>
                                        <li><a class="dropdown-item" href="/badabagh-community#Summer Program">Summer
                                                Program</a></li>
                                        <li><a class="dropdown-item" href="/badabagh-community#Kids Camp ">Kids
                                                Camp</a></li>
                                        <li><a class="dropdown-item"
                                                href="/badabagh-community#Career Counseling ">Career Counseling</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="/badabagh-community#Parent's Education">Parent's Education</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="dropdown-item" href="About_us.html"></a>
                        </li>
                        <li> <a class="dropdown-item" href="/campus-engagement">Campus Engagement</a></li>
                        <li> <a class="dropdown-item" href="/awareness-program">Awareness Program</a></li>
                        <li> <a class="dropdown-item" href="/relief-funds">Relief Funds</a></li>
                        <li> <a class="dropdown-item" href="/co-curricular-activities">Co-Curricular Activities</a></li>
                        <li> <a class="dropdown-item" href="/child-sponsorship-program">Child Sponsorship Program</a>
                        </li>
                        <li> <a class="dropdown-item" href="/field-visit">Field Visit</a></li>
                        <li> <a class="dropdown-item" href="/blanket-drive">Blanket Drive</a></li>
                        <li> <a class="dropdown-item" href="/medical-camp">Medical Camp</a></li>
                </li>
                </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Impact </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/success-stories">Success Stories</a> </li>
                        <li> <a class="dropdown-item" href="/impacts">Impact and Outreach</a> </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Get Involved</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <li> <a class="dropdown-item" href="/volunteer">Volunteer</a> </li>
                        <li> <a class="dropdown-item" href="/internships">Intern</a> </li>
                        <li> <a class="dropdown-item" href="/alumni">Alumni</a> </li>
                        <li> <a class="dropdown-item" href="/donate">Donate</a> </li>

                    </ul>
                </li>




                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Events</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li> <a class="dropdown-item" href="/chat-over-coffee">Chat Over Coffee</a></li>
                        <li> <a class="dropdown-item" href="/focal-point">Focal Point</a></li>
                        <li> <a class="dropdown-item" href="/forums">Forums</a></li>
                        <li> <a class="dropdown-item" href="/music">Music Concerts</a></li>
                        <li> <a class="dropdown-item" href="/language">English Class</a></li>

                    </ul>
                </li>





                <li class="nav-item ">
                    <a class="nav-link" href="/media" id="dropdownMenuButton2">Media <span
                            class="sr-only">(current)</span></a>
                </li>



                <li class="nav-item ">
                    <a class="nav-link" href="/contact" id="dropdownMenuButton2">Contact <span
                            class="sr-only">(current)</span></a>
                </li>
                {%if request.user.is_staff%}
                <li class="nav-item ">
                    <a class="nav-link" href="/create" id="dropdownMenuButton2">Create <span
                            class="sr-only">(current)</span></a>
                </li>
                {%endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>