{% extends 'base.html' %} {% load static %} {% block content %}


<div class="container-fluid pt-3">
    <div class="container animate-box" data-animate-effect="fadeIn">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4" id="nametag">
                <h4> <b>Projects</b></h4>
            </div>
        </div>
        <div class="owl-carousel owl-theme js" id="slider1">
            {% for obj in projects %}
            <div class="item px-2">
                <div class="fh5co_latest_trading_img_position_relative">
                    <div class="fh5co_latest_trading_img">
                        <img src="{{ obj.thumbnail.url}}" alt="" class="fh5co_img_special_relative" />
                    </div>
                    <div class="fh5co_latest_trading_img_position_absolute"></div>
                    <div class="fh5co_latest_trading_img_position_absolute_1">
                        <a href="project/" class="text-white" id="nametag"> {{ obj.title }}</a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> {{obj.timestamp.date }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
                <h4> <b>Programs</b></h4>
            </div>
        </div>
        <div class="owl-carousel owl-theme" style="align-items: center" id="slider2">
            {% for obj in programs %}
            <div class="item px-2">
                <div class="fh5co_hover_news_img">
                    <div class="fh5co_news_img"><img src="{{ obj.thumbnail.url}}" alt="" /></div>
                    <div>
                        <a href="program/" class="d-block fh5co_small_post_heading"><span
                                class="">{{ obj.title }}</span></a>
                        <div class="c_g"><i class="fa fa-clock-o"></i> {{ obj.timestamp.date}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>




<div class="container-fluid fh5co_video_news_bg pb-4">
    <div class="container animate-box" data-animate-effect="fadeIn">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom pt-5 pb-2 mb-4 " id="nametag">Video News </div>
        </div>
        <div>
            <div class="owl-carousel owl-theme" id="slider3">
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_hover_news_img_video_tag_position_relative">
                            <div class="fh5co_news_img">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/4RrbiX4eCgY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide">
                                <img src="{% static 'images/ariel-lustre-208615.jpg' %}" alt="" />
                            </div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide" id="play-video">
                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                <span class="">PMI GBC Team july 2015 </span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_hover_news_img_video_tag_position_relative">
                            <div class="fh5co_news_img">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/saZVieF4-jw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_2">
                                <img src="{% static 'images/39-324x235.jpg' %}" alt="" /></div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_2" id="play-video_2">
                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                <span class="">PMI Aug</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_hover_news_img_video_tag_position_relative">
                            <div class="fh5co_news_img">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/f6aMbX65Q5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_3">
                                <img src="{% static 'images/joe-gardner-75333.jpg' %}" alt="" /></div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_3" id="play-video_3">
                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                <span class="">Blanket Distribution by our volunteers</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
                <div class="item px-2">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_hover_news_img_video_tag_position_relative">
                            <div class="fh5co_news_img">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/kVAOUekdE6E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute fh5co_hide_4">
                                <img src="{% static 'images/vil-son-35490.jpg' %}" alt="" />
                            </div>
                            <div class="fh5co_hover_news_img_video_tag_position_absolute_1 fh5co_hide_4" id="play-video_4">
                                <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button_1">
                                    <div class="fh5co_hover_news_img_video_tag_position_absolute_1_play_button">
                                        <span><i class="fa fa-play"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <a href="#" class="d-block fh5co_small_post_heading fh5co_small_post_heading_1">
                                <span class="">Volunteer Picnic </span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> Oct 16,2017</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4" id="nametag">Campus</div>
                </div>
                {% for obj in campus %}
                <div class="row pb-4">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="{{obj.thumbnail.url}}" alt="" /></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="col-md-7 animate-box">
                        <a href="about/" class="fh5co_magna py-2" id="title"> {{obj.title}}<br>
                        </a>
                        <a href="about/" class="fh5co_mini_time py-3"> {{obj.timestamp.date}} </a>
                        <div class="fh5co_consectetur" style="text-align: justify;" id="overview">{{obj.overview}}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-md-3 animate-box" data-animate-effect="fadeInRight">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4" id="nametag">Tags</div>
                </div>
                <div class="clearfix"></div>
                <div class="fh5co_tags_all">
                    <a href="#" class="fh5co_tagg">NGO</a>
                    <a href="#" class="fh5co_tagg">NON-PROFIT</a>
                    <a href="#" class="fh5co_tagg">VOLUNTEER</a>
                    <a href="#" class="fh5co_tagg">EDUCATION</a>
                    <a href="#" class="fh5co_tagg">DONATE</a>
                    <a href="#" class="fh5co_tagg">LOVE</a>
                    <a href="#" class="fh5co_tagg">INDIA</a>
                    <a href="#" class="fh5co_tagg">PHILANTHROPY</a>
                    <a href="#" class="fh5co_tagg">CHANGE</a>
                    <a href="#" class="fh5co_tagg">UNITEDONATIONS</a>
                    <a href="#" class="fh5co_tagg">FUNDRAISING</a>
                    <a href="#" class="fh5co_tagg">SOCIALWORKS</a>
                </div>
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom pt-3 py-2 mb-4" id="nametag">PMI Events
                    </div>
                </div>
                <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%239E69AF&amp;ctz=Asia%2FKolkata&amp;src=c3JpdmFzdGF2YW1yaXR1bmpheTAxQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZHVyOWtuNDVsN29jbDUzaDBhdnE2cGlkcjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4uaW5kaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%233F51B5&amp;color=%230B8043"
                    style="border:solid 1px #777" width="400" height="450" frameborder="0" scrolling="no"></iframe>

            </div>
        </div>

    </div>
</div>

<div class="container-fluid  fh5co_fh5co_bg_contcat">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-phone"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">Call Us</span>
                        <span class="d-block c_g fh5co_contact_us_no_text">9717711502 , 9818181502</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-envelope"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">Have any query?</span>
                        <span class="d-block c_g fh5co_contact_us_no_text"> pmiteam@gmail.com, info@pmingo.org</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 py-3">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-map-marker"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">Address</span>
                        <span class="d-block c_g fh5co_contact_us_no_text">A68, 1st Floor Derawal Nagar, above IDBI near
                            Pentamed Hospital, Delhi 110009</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13998.709983455392!2d77.1905633!3d28.6992924!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7690673d5176a1f8!2sPassion%20Movement%20International!5e0!3m2!1sen!2sin!4v1582456176733!5m2!1sen!2sin"
                style="align-content: center;" class="map_sss" allowfullscreen></iframe>


            <div class="clearfix"></div>
        </div>
    </div>

</div>

{% endblock content %}