{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                <div>
                    <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">
                        <h3 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><b>Our Prestigious Members</b></h5>
                    </div>
                </div>
                {% for obj in team %}
                <div class="row pb-4" style="padding-top: 60px">
                    <div class="col-md-5">
                        <div class="fh5co_hover_news_img">
                            <div class="fh5co_news_img"><img src="{{ obj.thumbnail.url}}" alt="" /></div>
                            <div></div>
                        </div>
                    </div>


                    <div class="col-md-7 animate-box">
                        <a href="/about" class="magna">{{obj.name}}</a>
                        <div class="fh5co_consectetur">{{obj.overview}}</div>


                    </div>
                </div>
                {% endfor %}



            </div>
        </div>

    </div>
</div>

{% endblock content %}